<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>commUNITY - View Environmental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
    <script src="/static/scripts.js"></script>
    <style>
      #column1, #contactInfo {
        background: #d0d0df;
        border-right: 2px solid grey;
        border-left: 2px solid grey;
        height: calc(100vh - 80px);
      }
      #column2 {
        background: f0f011;
      }

      .tutorPosts {
      display: block;
      }
    </style>
</head>
<body class="p-0">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height:80px;">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/home">
        <img src="/static/logo.png" alt="logo" width="60px">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mx-4" href="/viewTutorsSubjects" style="font-size: 20px;">Find a Tutor</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="/viewCarpoolSubjects" style="font-size: 20px;">Find a Carpool</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-4">
        <li class="nav-item p-0">
            <a class="nav-link btn btn-danger m-0" href="/post" style="border-radius: 50%; font-size: 30px; width: 55px; height: 55px; padding: 0px">+</a>
        </li>
      </ul>
    </nav>
  <div class="row w-100 m-0">
  <div id = "column1" class="col-2 p-0" style = "overflow: auto">
    {% for post in environmentalPosts%}
    <div class = "tutorPosts p-3 m-2 btn btn-danger"  style="font-size: 20px; line-height: auto; vertical-align: middle; overflow: auto" id="{{post.id}}" onclick = "viewEnvironmentalPost(this.id)">
      {{post["title"]}}
    </div>
    {% endfor%}
  </div>
  <div class="col-8 p-3" id = "column2" style = "overflow: auto">

  </div>
  <div class="col-2" id = "contactInfo" style = "overflow: auto">

  </div>
  </div>
</body>
