<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gallery - TEST</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/vanilla-zoom.min.css">

    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/vanilla-zoom.js"></script>
    <script src="static/assets/js/theme.js"></script>
</head>

<body style="background: rgb(245,120,93);">
     <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/home">Change.org</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/post">Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark" style="background: rgb(245,120,93);">
            <div class="container">
                <div class="block-heading">
                    <h2 style="color: rgb(255,255,255);font-size: 40px; text-align:center">Make A Difference In Your Community</h2>
                    <br />
                    <p style="color: rgb(255,255,255);font-size: 20px; text-align:center">Create change by participating in movements that you care about</p>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-5 col-lg-3 item"><a class="lightbox" href="/viewEnvironmentalSubjects"><img class="img-thumbnail img-fluid image" src="static/ViewsPageThings/assets/img/Environmental.png"></a></div>
                    <div class="col-md-5 col-lg-3 item"><a class="lightbox" href="/viewSocialSubjects"><img class="img-thumbnail img-fluid image" src="static/ViewsPageThings/assets/img/Social.png"></a></div>
                    <div class="col-md-5 col-lg-3 item"><a class="lightbox" href="/viewEconomicSubjects"><img class="img-thumbnail img-fluid image" src="static/ViewsPageThings/assets/img/Economic.png"></a></div>
                    <div class="col-md-5 col-lg-3 item"><a class="lightbox" href="/viewOtherSubjects"><img class="img-thumbnail img-fluid image" src="static/ViewsPageThings/assets/img/Other.png"></a></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-lg-3 item"><p style="color: rgb(255,255,255);font-size: 20px; text-align:center">Environmental</p></div>
                    <div class="col-md-5 col-lg-3 item"><p style="color: rgb(255,255,255);font-size: 20px; text-align:center">Social</p></div>
                    <div class="col-md-5 col-lg-3 item"><p style="color: rgb(255,255,255);font-size: 20px; text-align:center">Economic</p></div>
                    <div class="col-md-5 col-lg-3 item"><p style="color: rgb(255,255,255);font-size: 20px; text-align:center">Other<p/></div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>