<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript" src="/static/scripts.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
    <title>Post Something</title>
  </head>
  <body class="bg-light">
    <nav style="padding-bottom: 30px" class="navbar navbar-light navbar-expand-lg" id="mainNav">
      <div class="container"><a class="navbar-brand" href="/home" style="color: rgb(245,120,93);"><b>Change.org</b></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="/post">Post</a></li>
                  <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
<div class="container-fluid bg-light p-3">
  <select class="btn btn-danger" name="type" id="dropdown">
      <option value="">Please Select...</option>
      <option value="Environmental">Environmental</option>
      <option value="Social Inequality">Social Inequality</option>
      <option value="Economic Inequality">Economic Inequality</option>
      <option value="Other">Other</option>
    </select>
    <button type="button" name="button" class="btn btn-success" onclick="submit();">Continue</button>
    <br><br><br>
    <div class="" id='formthing'>

    </div>
</div>
</body>
</html>
