<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Sign Up For SchoolService</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>

    <!--
        <script type="text/javascript">
          function sendEmail() {
            Email.send({
              Host: "smtp.gmail.com",
              Username: "shahaditya@outlook.com",
              Password: "",
              To: document.getElementById("email").value,
              From: "shahaditya@outlook.com",
              Subject: "Welcome to SchoolService",
              Body: "Welcome!",
            })
              .then(function (message) {
                alert("mail sent successfully")
              });
          }
        </script>
      -->z
</head>
<body style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/wsps.png');; background-size: cover">
<div class="container-fluid w-100 h-100">
    <div class="container-fluid text-light p-2" style="text-align: center">
        <h1>Welcome to Class Connect</h1>
    </div>
    <br>
    <br>
    <div class="container bg-light h-50 p-4" style="text-align: center; border-radius: 25px; width:20%">
        <form action="/home">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" placeholder="John" style="width: 100%"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" placeholder="Doe" style="width: 100%"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="lname" placeholder="s-jdoe@lwsd.org" style="width: 100%"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="password" style="width: 100%"><br>
            <label for="zipcode">Zip code: </label><br>
            <input type="text" id="zipcode" name="zipcode" placeholder="11111" style="width: 100%"><br><br>
            <input type="submit" value="Submit" class="btn btn-danger" onclick="sendEmail()">
        </form>
        <br>
        <a href="/signin">Already have an account? Sign in</a>
    </div>
</div>
</body>
</html>
