<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>commUNITY - Economic</title>
    <link rel="stylesheet" href="static/ViewsPageThings/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/ViewsPageThings/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/ViewsPageThings/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/ViewsPageThings/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
    <script src="/static/scripts.js"></script>
    <style>
        #nav-item{
            color: rgb(245,120,93);
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapperWOdiscussion">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar accordion bg-gradient-primary p-0" style="background: rgb(245,120,93);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div></a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% for post in economicPosts%}
                    <li onclick = "viewEconomicPost(this.id)" class="nav-item" id="{{post['id']}}"><a class="nav-link" ><i class="fas fa-user"></i><span>{{post["title"]}}</span></a></li>
                    {% endfor%}
                </ul>

            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand-lg" id="mainNav">
                    <div class="container"><a class="navbar-brand" href="/home" style="color: rgb(245,120,93);"><b>commUNITY</b></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item"><a class="nav-link" href="home#about">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="/post">Post</a></li>
                                <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div id="innerContent"><h1 id = "title" xstyle="padding: 11px;margin: 0px;">Click on a Post to View Information</h1>
                <p style="padding: 15px;"></p>
                <figure>
                    <blockquote class="blockquote">
                        <p class="mb-0"></p>
                    </blockquote>
                </figure>
            </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                </div>
            </footer>
            <div id="disqus_thread"></div>
            <script>
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://community-net.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <script id="dsq-count-scr" src="//community-net.disqus.com/count.js" async></script>
    <script src="static/ViewsPageThings/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/ViewsPageThings/assets/js/theme.js"></script>
</body>

</html>