<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript" src="/static/scripts.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  .post{
    display : inline-block;
    width: 20%;
  }
  </style>
    <title>Answer Questions</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height:80px;">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/home">
        <img src="/static/logo.png" alt="logo" width="60px">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mx-4" href="/viewTutorsSubjects" style="font-size: 20px;">Find a Tutor</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="/viewCarpoolSubjects" style="font-size: 20px;">Find a Carpool</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-4">
        <li class="nav-item p-0">
            <a class="nav-link btn btn-danger m-0" href="/post" style="border-radius: 50%; font-size: 30px; width: 55px; height: 55px; padding: 0px">+</a>
        </li>
      </ul>
    </nav>

      <div style = 'text-align: center'>
          {% for post in discussionPosts %}
          <div class="col-3 card p-3 post m-4">
              <div class="card-header">{{post["title"]}}</div>
              <div class="card-body">
                  posted by <b>{{post["name"]}}</b>
                  <br>
                  <a id = "{{post['id']}}" href="/discussionsThread?id={{post['id']}}">View thread</a>
              </div>
          </div>
          {% endfor %}
      </div>
    </body>
