<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Find a Carpool</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height:80px;">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/home">
        <img src="/static/logo.png" alt="logo" width="60px">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item mx-4">
          <a class="nav-link" href="/view" style="font-size: 20px;">Find a Carpool</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-4">
        <li class="nav-item p-0">
            <a class="nav-link btn btn-danger m-0" href="/post" style="border-radius: 50%; font-size: 30px; width: 55px; height: 55px; padding: 0px">+</a>
        </li>
      </ul>
    </nav>
<div class="bg-light p-5" style="text-align: center;">
<div class="row">
  <div class="card mx-auto" style="width:300px">
    <img height="180px" class="card-img-top" src="static/BasketballPhoto.jfif" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Environmental</h4>
      <a class="btn btn-danger stretched-link" href="/carpoolViewing?subject=basketball">  View Environmental Justice Movements  </a>
    </div>
  </div>
  <div class="card" style="width:300px">
    <img height="180px" class="card-img-top" src="static/swimmingPhoto.jfif" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Social Inequality</h4>
      <a class="btn btn-danger stretched-link" href="/carpoolViewing?subject=swimming">View Social Inequality Movements</a>
    </div>
  </div>
  <div class="card mx-auto" style="width:300px">
    <img height="180px" class="card-img-top" src="static/trackPhoto.jfif" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Economic Inequality</h4>
      <a href="/carpoolViewing?subject=track" class="btn btn-danger stretched-link">View Economic Inequality Movements</a>
    </div>
  </div>
</div>
<br>
<br>

</div>

<div class="row">
  <div class="card mx-auto" style="width:300px">
    <img height="180px" class="card-img-top" src="static/trackPhoto.jfif" alt="Card image">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center">Other</h4>
      <a href="/carpoolViewing?subject=track" class="btn btn-danger stretched-link" style="button-align:center">View Other Movements</a>
    </div>
  </div>
</div>

</body>
